body {
  font-family: "Poppins";
  background-color: rgb(55, 56, 57);
  margin: 0; /* Menambahkan margin: 0; agar body tidak memiliki margin default */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.judul {
  text-align: center;
  margin-top: 20px; /* Menambahkan margin-top untuk memisahkan judul dari bagian atas layar */
}

.judul h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #b17941;
  margin: 0; /* Menambahkan margin: 0; agar h2 tidak memiliki margin default */
}

.judul h2 span {
  color: #fff;
}

.add {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  margin:  20px; /* Menambahkan margin agar terpisah dari judul dan tabel */
  padding: 0px 20px 0px 20px; /* Menambahkan padding agar terlihat lebih rapi */
  
}

.tambah, .tombol-cari {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 5px;
}

.keyword {
  padding: 8px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.tambah {
  color: #fff;
  background-color: green;
}

table {
  margin: auto;
  width: 80%;
}

th, td {
  font-family: "Poppins";
  border: 1px solid #ddd;
  padding: 12px; /* Menambahkan padding agar lebih mudah dibaca */
}

td {
  font-size: 1rem;
  color: #fff;
}

th {
  background-color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

.edit-button {
padding: 8px 16px;
border-radius: 5px;
border: none;
cursor: pointer;
margin: 5px;
color: #fff;
background-color: blue;
}

/* Gaya untuk tombol hapus (merah) */
.delete-button {
padding: 8px 16px;
border-radius: 5px;
border: none;
cursor: pointer;
margin: 5px;
background-color: red;
color: #fff;
}
.kembali {
position: absolute;
top: 20px;
left: 20px;
}

#back-icon {
text-decoration: none;
color: white;
display: flex;
align-items: center;
}

#back-icon img {
margin-right: 5px;
}
